# Runtime config
BUILD_COMMAND="go run"         # Command to run the application
LOG_LEVEL="info"               # Default log level
HOST="localhost"                            
PORT="port"                    # Server port

# Database
DB_HOST="db_url"
DB_PORT="db_port"

DB_USER="user"
DB_PASSWORD="password"
DB_ROOT_PASSWORD="root_password"
DB_NAME="database"
DB_SSLMODE="enabled"

DB_VOLUME_PATH="/home/user/{path-to}/falloutdle/docker/volumes"